<nav class="navbar navbar-default">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li > <%= link_to "Index", todos_path %></li>
        <li > <%= link_to "List", todos_list_path %></li>
        <li > <%= link_to "New ToDo", todos_new_path %></li>

      </ul>


    </div><!-- /.navbar-collapse -->

</nav>
