

  <p style="padding-left:5%"><%= @todo.description %></p>

  <span style="padding-left:5%"></span>
  <button type="button" class="btn btn-default" >
    <%= link_to "Volver", todos_path, class: "black" %>
  </button>
